body {
    margin: 50px;  
}


.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.encabezado img {

    width: 70px;
    border-radius: 45px;
}

.menu ul {

    display: flex;
   
}

.menu ul li {
    margin-right: 20px;
    list-style-type: none;
    

}

.menu ul li a{

    color: white;
    text-decoration: none;
    margin-left: 32px;

}

.contenido {

    text-align: center;
    color: white;
    margin-top: 25px;
}

.caja1 {
   
    background: url(../img/FONDO1.jpg) no-repeat;
    background-size: 100%;
    height: 600px;
    

}




.caja2{
   
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    background-color: rgb(170, 169, 169);
    text-align: center;
    
}
.caja2.1{
    
    
    margin: 10px;
    display: grid;
    height: 600px;
    grid-template-rows: 50% 50%;
    box-shadow: 3px 3px 15px gray;
}


.caja2img img{
    
   
    height: 200px;
    width: 100%; 
    object-fit: cover;
}

.caja2p{
    background: white;
    display: grid;
    align-content: center;
}




.caja3{
    text-align: center;
}
.caja3img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.caja3p{
    text-align: justify;
    padding: 10px;
}







.caja4{
    
    background-color: rgb(170, 169, 169);
    text-align: center;
    display: grid; 
    padding-top: 50px;
    padding-bottom: 50px;
}
.caja4 h1{
    margin-bottom: 0%;
}
.caja4 input{
    margin: 10px;
    padding: 20px;
    background: rgb(209, 206, 206);
    box-sizing: border-box;
}
.caja4 button{
    margin: 10px;
    padding: 20px;
    font-weight: bold;
    size: 15px;
}






.caja5{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.caja5I{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.caja5I i{
    color: white;
    background: rgb(68, 68, 68);
    margin-right: 12px;
    width: 16px;
    border-radius: 20px;
    padding: 5px;
    text-align: center;
}





.perfil{
    background: teal;
    display: flex;
    align-items: center;
    width: 250px;

}

.perfil p {

    font-weight: bold;
}

.perfil img {
    
    height: 40px;
    border-radius: 45px;
    margin-right: 10px;
}